<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" height="28" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <img src="https://avatar-redirect.appspot.com/google/103304378542354534966?size=400" alt=""
                            class="user">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Huong
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/courses/create">Đăng khoá học</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/me/courses">Khoá học của tôi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>